.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  transition: margin-left 0.3s ease;
  height: 100vh;

}
.chat-window.with-sidebar {
  margin-left: 0;
}

.chat-window.full-width {
  margin-left: -230px;
  border-left: 1px gray solid;
}

.select-user {
  text-align: center;
  margin: auto 0;
}
.chat-header {
  display: flex;
  gap: 15px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid grey;

}
.chat-header > .profile-container {
  width: 45px;
  height: 45px;
  background-color: gray;
  border-radius: 50%;
  border: none;
}
.chat-header .profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat-header .user-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
   scrollbar-width: none;
  -ms-overflow-style: none;  
}
.message-list .copy-success {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  position: fixed;
  top: 80%;
  left: 50%;
}
.message-list::-webkit-scrollbar {
  display: none; 
}

.message-bubble {
  display: flex;
  max-width: 60%;
  margin-bottom: 5px;
  border-radius: 13px;
  align-items: center;
  min-height: 35px;
  gap: 15px;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.message-bubble .text {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
.message-bubble .time {
  margin: 0;
  font-size: 12px;
  align-self: flex-end;
  font-weight: 200;
}
.message-bubble .edited {
  margin: 0;
  font-size: 12px;
  align-self: flex-end;
  font-weight: 200;
}
.message-bubble.me {
  background-color: #6b8afd;
  align-self: flex-end;
  color: white;
}

.message-bubble.other {
  background-color: #363651;
  align-self: flex-start;
  color: white;
}
.message-bubble .icon-cont {
  align-self: flex-end;
}
.message-bubble .icon-cont > img{
  height: 12px;
}
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #333;
  flex-direction: column;
}
.input-container {
  width: 100%;
  display: flex;
}
.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #2d2d44;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input .send-button {
  padding: 10px 15px;
  background-color: #7b61ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.send-button .send-icon {
  width: 20px;
}

@media (max-width: 768px) {
  .chat-window.full-width {
    margin-left: 0;
  }
  .chat-header {
    padding-left: 80px;
  }
}