.edit-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 20px;
  border-radius: 7px;
  width: 300px;
}
.edit-container > h3 {
  color: black;
}

.edit-container > .buttons {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  padding: 10px 5px;
}
.buttons .cancel-btn, .buttons .edit-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.buttons .cancel-btn {
  color: lightblue;
}
.buttons .edit-btn {
  color: rgba(0, 3, 1, 0.534);
}
.buttons .cancel-btn:hover {
  color: blue;
}
.buttons .edit-btn:hover {
  color: rgb(0, 0, 0);
}

